# Entorno
NODE_ENV=development

# Puerto del backend
PORT=5050

# MongoDB
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/plantilla_db?retryWrites=true&w=majority

# Logs (debug, info, warn, error)
LOG_LEVEL=info
JWT_SECRET=CHANGE_ME_SUPER_LONG_SECRET
JWT_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=tu_google_client_id.apps.googleusercontent.com
FRONTEND_URL=http://localhost:5173
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_MONTHLY=price_xxxxxxxxx
